	/* Niabi's Custom Themes -  */

   /* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|IM+Fell+English+SC');

   /* MAIN */
body {
	background: url('https://i.imgur.com/utRzeOg.png') center fixed;
	background-size: cover;
	font-family: 'IM Fell English', serif;
	font-size: 15pt!important;
	color: white;
}
h1, h2, h3 {
	font-family: 'IM Fell English SC', serif;
}

   /* TOPBAR */
.topbar {
	background: black!important;
	color: white;
	font-size: 15pt!important;
}

   /* NAVBAR */
.navbar-header > a > img {
  	content: url('https://i.imgur.com/B6fIYkE.png');
}

   /* SIDEBAR */
.panel {
	border: none!important;
	border-radius: 10px;
	background: none!important;
	color: white!important;
	box-shadow: none!important;
	font-family: Verdana;
}

   /* MAIN TABLES */
.container {
	background: none;
	box-shadow: none;
}
.col-md-9 {
	background: none;
}
#lion_image {
	border-radius: 15px;
	overflow: hidden;
}

   /* MISC */
.scrolly {
	height: 500px;
	overflow: auto;
	background: rgba(0,0,0,0.40);
	padding: 5px;
}

<div class="scrolly">
<>