	/* Niabi's Custom Themes -  */

   /* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

   /* MAIN */
body {
	background: url('https://i.imgur.com/utRzeOg.png') center fixed;
	background-size: cover;
	font-family: 'IM Fell English SC', 
	font-size: 15px;
}

   /* TOPBAR */
.topbar {
}
.table .top a:link

   /* NAVBAR */
.navbar-header > a > img {
  	content: url('https://static.lioden.com/img/layout/logo-full-2.png');
}

   /* SIDEBAR */

   /* MAIN TABLES */
.container, .main {
	background: none;
	box-shadow: none;
}
#lion_image {
	border-radius: 15px;
	overflow: hidden;
}

   /* MISC */