	/* Niabi's Custom Themes -  */

   /* FONT IMPORT */

   /* MAIN */
body {
	background: url('https://i.imgur.com/utRzeOg.png') center fixed;
	background-size: cover;
}

   /* TOPBAR */
.topbar {
}
.table .top a:link

   /* NAVBAR */
.navbar-header > a > img {
  	content: url('https://static.lioden.com/img/layout/logo-full-2.png');
}

   /* SIDEBAR */

   /* MAIN TABLES */

   /* MISC */