	/* Niabi's Custom Themes -  */

   /* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Emilys+Candy');

   /* MAIN */
body {
	background: #f5f5f5 url('https://f271.https.cdn.softlayer.net/80F271/dal05.objectstorage.softlayer.net/v1/AUTH_b4a3a2ca-226e-4f3c-aef2-b5275f5900cc/cdn/preview/cakewebsitetemplate/images/bg-body.gif') repeat-x center top;
	color: #9b888f;
	font-family: Verdana;
}
h1, h2, h3 {
	font-family: 'Emilys Candy', cursive;
}
a:link, a:visited, a:active {
	color: #9b888f;
	text-decoration: underline;
}
a:hover {
	color: #dd97b3;
	text-decoration: underline;
}

   /* TOPBAR */
.topbar {
	background: #aa6581;
	text-transform: lowercase;
}
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited , .topbar a:link, .topbar a:visited, .topbar a:active, .table .bottom a:link, .table .bottom a:active, .table .bottom a:visited {
	color: #f5ffff;
	text-shadow: 1px 1px 0 #ad657d, -1px -1px 0 #ad657d, -1px 1px 0 #ad657d, 1px -1px 0 #ad657d;
	text-transform: lowercase;
	text-decoration: none;
}
.table .top a:hover, .table th a:hover, .topbar a:hover, .table .bottom a:hover {
	color: #7c0d37;
	text-shadow: 1px 1px 0 #f7cade, -1px -1px 0 #f7cade, -1px 1px 0 #f7cade, 1px -1px 0 #f7cade;
	text-decoration: none;
}
.badge {
}

	/* NAVBAR */
.navbar-header > a > img {
}
.navbar {
	background: #aa6581;
}
.navbar-default .navbar-nav > li > a {
	background: none!important;
	color: #f5ffff;
	text-shadow: 1px 1px 0 #ad657d, -1px -1px 0 #ad657d, -1px 1px 0 #ad657d, 1px -1px 0 #ad657d;
	text-transform: lowercase;
	text-decoration: none;
}
.navbar-default .navbar-nav li a:hover {
	background: none!important;
	color: #7c0d37;
	text-shadow: 1px 1px 0 #f7cade, -1px -1px 0 #f7cade, -1px 1px 0 #f7cade, 1px -1px 0 #f7cade;
	text-decoration: none;
}

   /* SIDEBAR */
.panel {
}
.sidebar h3 {
}
.progress {
}
.progress div {
}
.progress-bar-warning, .progress-bar-danger, .progress-bar-success, .progress-bar {
}
.chatContainer {
}
.chat_light {
}
.chat_dark {
}
#txtChatMessage {
}

   /* MAIN TABLES */
.container {
}
.main {
	background: #ebe7e8;
	box-shadow: none!important;
	border: none;
}
.col-md-9 {
	background: #f5f5f5;
}
#lion_image {
}
#lion_image > div {
}
.breadcrumb {
}
.breadcrumb li.active {
}
.table {
	border: none;
}
.table .top, .table th, .table .bottom  {
	background: #aa6581;
	text-transform: lowercase;
}
.table .right, td, .table .right_odd {
}
.inner-table .right {
}
div .left {
}
.left img {
}
.table .left {
}
.inner-table .left {
}
.cave-grid, .mound-grid {
}

   /* MISC */
.copyright {
	position: fixed;
	overflow: hidden;
	padding: 5px;
	right: 0;
	bottom: 0;
	z-index: 10;
	border-radius: 5px;
	background: ;
}
textarea, input[type="text"] {
}
input[type="submit"], input[type="button"] {
}
input[type="submit"]:hover, input[type="button"]:hover {
}
ul.bottomlinks a:link, a:visited, a:active {
}
ul.bottomlinks a:hover {
}
.item {
}
.item-header {
}
.slider {
}
.slider:before {
}
input:checked + .slider {
}
input:checked + .slider:before {
}