	/* Niabi's Custom Themes -  */

   /* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English|IM+Fell+English+SC');

   /* MAIN */
body {
	background: url('https://i.imgur.com/utRzeOg.png') center fixed;
	background-size: cover;
	font-family: 'IM Fell English', serif;
	color: white;
	cursor: url(http://cur.cursors-4u.net/holidays/hol-3/hol200.cur), auto !important;
}
h1, h2, h3 {
	font-family: 'IM Fell English SC', serif;
	color: #FEBB5E;
	border-bottom: 2px solid #FEBB5E;
	padding: 5px;
	padding-bottom: 0px;
	text-align: center;
}
a:link, a:visited, a:active {
	color: #F19649;
}
a:hover {
	color: #FEBB5E;
	cursor: url(http://cur.cursors-4u.net/holidays/hol-3/hol200.cur), auto !important;
}

   /* TOPBAR */
.topbar {
	background: #27262C!important;
	color: white;
}
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited , .topbar a:link, .topbar a:visited, .topbar a:active, .table .bottom a:link, .table .bottom a:active, .table .bottom a:visited {
	color: #F19649;
}
.table .top a:hover, .table th a:hover, .topbar a:hover, .table .bottom a:hover {
	color: #FEBB5E;
	cursor: url(http://cur.cursors-4u.net/holidays/hol-3/hol200.cur), auto !important;
}
.badge {
	background: #F19649;
}

	/* NAVBAR */
.navbar-header > a > img {
  	content: url('https://i.imgur.com/B6fIYkE.png');
}
.navbar {
	background: #27262C;
}
.navbar-default .navbar-nav > li > a {
	color: #F19649;
	font-weight: normal;
}
.navbar-default .navbar-nav li a:hover {
	background: none repeat scroll 0% 0% #0f0e11;
	color: #FEBB5E;
}

   /* SIDEBAR */
.panel {
	border: none!important;
	border-radius: 10px;
	background: none!important;
	color: white!important;
	box-shadow: none!important;
}
.sidebar h3 {
	color: #FEBB5E;
}
.progress {
	background: #4b4955;
	border: 1px solid #000;
	color: white!important;
}
.progress div {
	color: white;
}
.progress-bar-warning, .progress-bar-danger, .progress-bar-success, .progress-bar {
	background: #27262C;
	color: white!important;
}
.chatContainer {
	border: 1px solid #000;
}
.chat_light {
	background: #4b4955!important;
	color: white;
}
.chat_dark {
	background: #27262C!important;
	color: white;
}
#txtChatMessage {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	border-radius: 4px;
}

   /* MAIN TABLES */
.container {
	background: none;
	box-shadow: none;
}
.main {
	background: rgba(39,38,44,0.40);
}
.col-md-9 {
	background: none;
}
#lion_image {
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid #000;
}
#lion_image > div {
	background: #4b4955;
	background-image: none!important;
}
.breadcrumb {
	background: none;
}
.table {
	border: none;
}
.table .top, .table th {
	background: #27262C;
	border-radius: 10px;
}
.table .bottom {
	background: none;
}
.table .right, td, .table .right_odd {
	background: none;
}
.inner-table .right {
	background: #4b4955!important;
}
div .left {
	background: #27262C!important;
}
.left img {
	border-radius: 4px;
	border: 1px solid #000;
}
.table .left {
	background: none!important;
}
.inner-table .left {
	background: #3f3e47!important;
}

   /* MISC */
.scrolly {
	height: 500px;
	overflow: auto;
	padding: 5px;
}
.copyright {
	position: fixed;
	overflow: hidden;
	padding: 5px;
	right: 0;
	bottom: 0;
}
textarea {
	color: black;
}
.attack-lost {
}
.attack-won {
}
.alert {
}
.alert-succes {
}
.new-msg {
}

ul.bottomlinks a:link, a:visited, a:active {
	color: #F19649;
	text-decoration: none;
}
ul.bottomlinks a:hover {
	color: #FEBB5E;
	cursor: url(http://cur.cursors-4u.net/holidays/hol-3/hol200.cur), auto !important;
	text-decoration: none;
}