/* STYLESHEET - Backyard Flocks */

body {
	background: #3F3523;
	font-family: Verdana;
	font-size: 9pt;
	margin: 0;
	color: #2f2523;
	min-width: 1200px;
}
header {
	background: url('banner.jpg');
	width: 1000px;
	height: 107px;
	text-align: center;
	padding-top: 250px;
}
nav {
	background: #553032;
	color: #e9bd84;
	padding: 20px;
	text-align: center;
	margin: 20px;
	margin-right: 70px;
	margin-left: 70px;
	border-radius: 30px;
	font-family: Georgia;
}
.navbar {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar li {
	display: inline-block;
}
.navbar li a {
	color: #e9bd84;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
.navbar li a:hover {
	color: #efcfa5;
}
.content {
	width: 900px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: left;
	min-height: 900px;
	background: #e7e2dc;
}
table {
	font-family: Verdana;
	font-size: 9pt;
	width: 100%;
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid  #553032;
	max-width: 670px;
}
a {
	color: #553032;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #864a47;
	text-decoration: underline;
}
footer {
	text-align: center;
	color: #e7e2dc;
	margin-top: 20px;
	font-size: 7pt;
	padding-bottom: 20px;
}
footer a {
	color: #e7e2dc;
	text-decoration: underline;
}
footer a:hover {
	color: #e7e2dc;
	text-decoration: none;
}
h1, h2 {
	font-family: Georgia;
	margin: 0px;
	margin-bottom: 5px;
	font-variant: small-caps;
}
h1 {
	padding-left: 25px;
	border-bottom: 1px solid;
	color: #553032;
	margin-right: 10px;
}
h2 {
	padding-left: 25px;
}
h3 {
	margin: 0px;
}
#sidebar {
	float:right;
	width: 198px;
	padding: 1px;
	padding-top: 10px;
	margin-left: 20px;
	min-height: 600px;
	text-align: center;
}
#innercontent {
	width: 679px;
	padding: 10px;
	padding-right: 0px;
	margin-right: 10px;
	border-right: #d2c9be;
}
.panel {
	margin-bottom: 10px;
	background: #fcfbfa;
	border: 1px solid #d2c9be;
	border-radius: 4px;
	padding: 5px;
	margin-left: 10px;
}
.panel ul {
	margin: 0;
	list-style-type: circle;
}
#bookmarks {
	text-align: left;
}
.chatbox {
	text-align: left;
	height: 300px;
	overflow: auto;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 1px solid #d2c9be;
	font-size: 8pt;
	border-radius: 4px;
}
.chat_light {
	background: #f1efeb;
	padding: 2px;
}
.chat_dark {
	background: #ddd5cd;
	padding: 2px;
}
.alert {
	border: 1px solid;
	padding: 10px;
	border-radius: 4px;
	margin:5px;
}
.alert-success {
color:#155724;background-color:#d4edda;border-color:#c3e6cb;
}
.alert-danger {
color:#65170f;background-color:#f3d5d2;border-color:#eec4c0;
}
.alert-info{color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb}.alert-info hr{border-top-color:#abdde5}

.alert-link {font-weight:bold;}
input[type="submit"] {
	font-family: Verdana;
	font-size: 9pt;
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
	color: #ffffff;
	background: #553032;	
	text-shadow: 1px 1px 0px #2f5a4b;
	border-radius: 4px;
	margin: 2px;
}
input[type="submit"]:hover {
	font-family: Verdana;
	font-size: 9pt;
	font-weight: bold;
	border: 1px solid #000000;
	text-align: center;
	color: #ffffff;
	background: #864a47!important;	
	text-shadow: 1px 1px 0px #2f5a4b;
	border-radius: 4px;
	margin: 2px;
}

input[type="text"] {
	font-family: Verdana;
	font-size: 9pt;
	background: #fff;
	border: 1px #000 solid;
}

input[type="password"] {
	font-family: Verdana;
	font-size: 9pt;
	color: #000000;
	background: #b8e0d2;
	border: 1px #000 solid;
}

textarea {
	font-family: Verdana;
	font-size: 9pt;
	border: 1px solid #000000;
	color: #000000;
	background: #fff;
	border: 1px #000 solid;
}

select {
	font-family: Verdana;
	font-size: 9pt;
	border: 1px solid #000000;
	color: #000000;
	background: #fff;
	border: 1px #000 solid;
}
.top {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background: #553032;
	color: #e9bd84;
	padding: 10px;
	border: 1px solid #553032;
	border-top: none;
	border-bottom: none;
}
.left {
	font-weight: bold;
	padding: 5px;
	background: #ddd5cd;
}
.right {
	padding: 5px;
	background: #f1efeb;
}
#float {
	float: right;
}
#icon:hover {
	opacity: .75;
}