<div style="width:590px;background:#f0ece4;font-family:Verdana;font-size:9pt;color:#363436;">

<div style="text-align:center;font-size:40px;font-family:Times;font-variant:small-caps;color:#633637;padding-top:10px;padding-bottom:10px;border-top:4px solid #633637;border-bottom:4px solid #633637;">
~ <font color="#F0ECE4">-</font> c l a s s i c <font color="#F0ECE4">-</font> ~
<br>C R A N B E R R Y
</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 1 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">You are able to copy and paste the code for both the header and this text box to add more sections if needed. I left them seperated from the rest of the code so you can easily select only the needed code. Please do not remove the credit. Enjoy your new layout.</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 2 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">
[you can put text here]
</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 3 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">
[oh look, you can put even more text here]
</div>

<div style="text-align:right;font-size:7pt;color:#633637;padding-top:10px;padding-bottom:10px;border-top:4px solid #633637;border-bottom:4px solid #633637;margin-top:20px;">layout by Niabi (#7829)
</div></div>

<hr>

You are able to copy the code below to use this layout in your description. Make sure you get all text from the box below or the code might not work properly.
<br><br>

<textarea rows="6" cols="35" disabled="true" width="600px" height="350px">

<div style="width:590px;background:#f0ece4;font-family:Verdana;font-size:9pt;color:#363436;">

<div style="text-align:center;font-size:40px;font-family:Times;font-variant:small-caps;color:#633637;padding-top:10px;padding-bottom:10px;border-top:4px solid #633637;border-bottom:4px solid #633637;">
~ <font color="#F0ECE4">-</font> c l a s s i c <font color="#F0ECE4">-</font> ~
<br>C R A N B E R R Y
</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 1 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">You are able to copy and paste the code for both the header and this text box to add more sections if needed. I left them seperated from the rest of the code so you can easily select only the needed code. Please do not remove the credit. Enjoy your new layout.</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 2 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">
[you can put text here]
</div>

<h1 style="text-align:center;color:#633637;border-bottom:1px solid;font-family:Times;margin:0;padding:0;margin-top:20px;margin-bottom:10px;font-variant:small-caps;font-weight:normal;background-image:none;">~ <font color="#F0ECE4">-</font> h e a d e r <font color="#F0ECE4">-</font> 3 <font color="#F0ECE4">-</font> ~</h1>
<div style="padding-right:50px;padding-left:50px;text-align:justify;">
[oh look, you can put even more text here]
</div>

<div style="text-align:right;font-size:7pt;color:#633637;padding-top:10px;padding-bottom:10px;border-top:4px solid #633637;border-bottom:4px solid #633637;margin-top:20px;">layout by Niabi (#7829)
</div></div>

</textarea>